In [1]:

#import the libraries

import numpy as np
import pandas as pd

df = pd.read_csv("/content/HR_comma_sep - HR_comma_sep.csv")

In [3]:
df

       satisfaction_level  last_evaluation  ...    sales  salary
0                    0.38             0.53  ...    sales     low
1                    0.80             0.86  ...    sales  medium
2                    0.11             0.88  ...    sales  medium
3                    0.72             0.87  ...    sales     low
4                    0.37             0.52  ...    sales     low
...                   ...              ...  ...      ...     ...
14994                0.40             0.57  ...  support     low
14995                0.37             0.48  ...  support     low
14996                0.37             0.53  ...  support     low
14997                0.11             0.96  ...  support     low
14998                0.37             0.52  ...  support     low

[14999 rows x 10 columns]

In [7]:
df1 =["sales","salary"]
df_final = pd.get_dummies(df, columns=df1, drop_first=True)

In [8]:
df_final

       satisfaction_level  last_evaluation  ...  salary_low  salary_medium
0                    0.38             0.53  ...           1              0
1                    0.80             0.86  ...           0              1
2                    0.11             0.88  ...           0              1
3                    0.72             0.87  ...           1              0
4                    0.37             0.52  ...           1              0
...                   ...              ...  ...         ...            ...
14994                0.40             0.57  ...           1              0
14995                0.37             0.48  ...           1              0
14996                0.37             0.53  ...           1              0
14997                0.11             0.96  ...           1              0
14998                0.37             0.52  ...           1              0

[14999 rows x 19 columns]

In [9]:
#spliting x and y variable

X = df_final.drop(['left'], axis =1).values
y = df_final['left'].values

In [10]:
X

array([[0.38, 0.53, 2.  , ..., 0.  , 1.  , 0.  ],
       [0.8 , 0.86, 5.  , ..., 0.  , 0.  , 1.  ],
       [0.11, 0.88, 7.  , ..., 0.  , 0.  , 1.  ],
       ...,
       [0.37, 0.53, 2.  , ..., 0.  , 1.  , 0.  ],
       [0.11, 0.96, 6.  , ..., 0.  , 1.  , 0.  ],
       [0.37, 0.52, 2.  , ..., 0.  , 1.  , 0.  ]])

In [11]:
y

array([1, 1, 1, ..., 1, 1, 1])

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 1)

In [22]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [23]:
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(9, kernel_initializer="uniform", activation = 'relu', input_dim = 18))
model.add(Dense(5, kernel_initializer="uniform", activation ='relu'))
model.add(Dense(1, kernel_initializer= "uniform", activation ="sigmoid"))
model.compile(optimizer='adam', loss="binary_crossentropy", metrics =["accuracy"])

In [24]:
model.fit(X_train, y_train, epochs=150)

Epoch 1/150
329/329 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7626
Epoch 2/150
329/329 [==============================] - 0s 1ms/step - loss: 0.3767 - accuracy: 0.7771
Epoch 3/150
329/329 [==============================] - 0s 1ms/step - loss: 0.3358 - accuracy: 0.8332
Epoch 4/150
329/329 [==============================] - 0s 1ms/step - loss: 0.2996 - accuracy: 0.8741
Epoch 5/150
329/329 [==============================] - 0s 1ms/step - loss: 0.2645 - accuracy: 0.9032
Epoch 6/150
329/329 [==============================] - 0s 1ms/step - loss: 0.2415 - accuracy: 0.9148
Epoch 7/150
329/329 [==============================] - 0s 1ms/step - loss: 0.2267 - accuracy: 0.9218
Epoch 8/150
329/329 [==============================] - 0s 1ms/step - loss: 0.2147 - accuracy: 0.9271
Epoch 9/150
329/329 [==============================] - 0s 1ms/step - loss: 0.2039 - accuracy: 0.9307
Epoch 10/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1930 - accuracy: 0.9345
Epoch 11/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1809 - accuracy: 0.9415
Epoch 12/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1698 - accuracy: 0.9479
Epoch 13/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1608 - accuracy: 0.9542
Epoch 14/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1538 - accuracy: 0.9552
Epoch 15/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1480 - accuracy: 0.9570
Epoch 16/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1441 - accuracy: 0.9589
Epoch 17/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1416 - accuracy: 0.9595
Epoch 18/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1382 - accuracy: 0.9607
Epoch 19/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1368 - accuracy: 0.9609
Epoch 20/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1352 - accuracy: 0.9620
Epoch 21/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1327 - accuracy: 0.9620
Epoch 22/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1316 - accuracy: 0.9630
Epoch 23/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1300 - accuracy: 0.9625
Epoch 24/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1291 - accuracy: 0.9623
Epoch 25/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1281 - accuracy: 0.9636
Epoch 26/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1271 - accuracy: 0.9641
Epoch 27/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1259 - accuracy: 0.9647
Epoch 28/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1250 - accuracy: 0.9642
Epoch 29/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1246 - accuracy: 0.9642
Epoch 30/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1240 - accuracy: 0.9646
Epoch 31/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1229 - accuracy: 0.9648
Epoch 32/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1228 - accuracy: 0.9653
Epoch 33/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1219 - accuracy: 0.9654
Epoch 34/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1216 - accuracy: 0.9653
Epoch 35/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1212 - accuracy: 0.9662
Epoch 36/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1207 - accuracy: 0.9655
Epoch 37/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1201 - accuracy: 0.9650
Epoch 38/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1196 - accuracy: 0.9665
Epoch 39/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1196 - accuracy: 0.9661
Epoch 40/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1195 - accuracy: 0.9654
Epoch 41/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1184 - accuracy: 0.9660
Epoch 42/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1185 - accuracy: 0.9659
Epoch 43/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1182 - accuracy: 0.9665
Epoch 44/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1180 - accuracy: 0.9667
Epoch 45/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1178 - accuracy: 0.9667
Epoch 46/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1174 - accuracy: 0.9664
Epoch 47/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1173 - accuracy: 0.9663
Epoch 48/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1171 - accuracy: 0.9673
Epoch 49/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1171 - accuracy: 0.9676
Epoch 50/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1166 - accuracy: 0.9664
Epoch 51/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1170 - accuracy: 0.9669
Epoch 52/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1163 - accuracy: 0.9669
Epoch 53/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1158 - accuracy: 0.9675
Epoch 54/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1159 - accuracy: 0.9669
Epoch 55/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1155 - accuracy: 0.9672
Epoch 56/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1156 - accuracy: 0.9677
Epoch 57/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1150 - accuracy: 0.9673
Epoch 58/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1154 - accuracy: 0.9670
Epoch 59/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1155 - accuracy: 0.9666
Epoch 60/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1153 - accuracy: 0.9672
Epoch 61/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1150 - accuracy: 0.9675
Epoch 62/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1146 - accuracy: 0.9677
Epoch 63/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1148 - accuracy: 0.9670
Epoch 64/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1152 - accuracy: 0.9678
Epoch 65/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1143 - accuracy: 0.9671
Epoch 66/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1143 - accuracy: 0.9672
Epoch 67/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1137 - accuracy: 0.9682
Epoch 68/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1141 - accuracy: 0.9671
Epoch 69/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1142 - accuracy: 0.9679
Epoch 70/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1137 - accuracy: 0.9682
Epoch 71/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1135 - accuracy: 0.9677
Epoch 72/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1137 - accuracy: 0.9670
Epoch 73/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1135 - accuracy: 0.9680
Epoch 74/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1130 - accuracy: 0.9679
Epoch 75/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1134 - accuracy: 0.9679
Epoch 76/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1133 - accuracy: 0.9674
Epoch 77/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1130 - accuracy: 0.9677
Epoch 78/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1130 - accuracy: 0.9682
Epoch 79/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1130 - accuracy: 0.9683
Epoch 80/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1128 - accuracy: 0.9677
Epoch 81/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1127 - accuracy: 0.9675
Epoch 82/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1126 - accuracy: 0.9684
Epoch 83/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1128 - accuracy: 0.9673
Epoch 84/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1122 - accuracy: 0.9681
Epoch 85/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1123 - accuracy: 0.9680
Epoch 86/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1120 - accuracy: 0.9674
Epoch 87/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1123 - accuracy: 0.9682
Epoch 88/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1117 - accuracy: 0.9685
Epoch 89/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1124 - accuracy: 0.9683
Epoch 90/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1119 - accuracy: 0.9687
Epoch 91/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1117 - accuracy: 0.9684
Epoch 92/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1117 - accuracy: 0.9692
Epoch 93/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1116 - accuracy: 0.9684
Epoch 94/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1113 - accuracy: 0.9678
Epoch 95/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1113 - accuracy: 0.9682
Epoch 96/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1115 - accuracy: 0.9688
Epoch 97/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1109 - accuracy: 0.9687
Epoch 98/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1113 - accuracy: 0.9689
Epoch 99/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1113 - accuracy: 0.9692
Epoch 100/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1110 - accuracy: 0.9688
Epoch 101/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1112 - accuracy: 0.9688
Epoch 102/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1110 - accuracy: 0.9693
Epoch 103/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1108 - accuracy: 0.9687
Epoch 104/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1107 - accuracy: 0.9681
Epoch 105/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1108 - accuracy: 0.9687
Epoch 106/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1105 - accuracy: 0.9689
Epoch 107/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1108 - accuracy: 0.9682
Epoch 108/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1107 - accuracy: 0.9689
Epoch 109/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1101 - accuracy: 0.9686
Epoch 110/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1105 - accuracy: 0.9686
Epoch 111/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1102 - accuracy: 0.9688
Epoch 112/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1103 - accuracy: 0.9691
Epoch 113/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1100 - accuracy: 0.9689
Epoch 114/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1098 - accuracy: 0.9691
Epoch 115/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1099 - accuracy: 0.9693
Epoch 116/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1094 - accuracy: 0.9692
Epoch 117/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1095 - accuracy: 0.9689
Epoch 118/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1093 - accuracy: 0.9692
Epoch 119/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1090 - accuracy: 0.9699
Epoch 120/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1092 - accuracy: 0.9691
Epoch 121/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1096 - accuracy: 0.9688
Epoch 122/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1083 - accuracy: 0.9694
Epoch 123/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1089 - accuracy: 0.9688
Epoch 124/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1086 - accuracy: 0.9698
Epoch 125/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1089 - accuracy: 0.9690
Epoch 126/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1086 - accuracy: 0.9695
Epoch 127/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1083 - accuracy: 0.9696
Epoch 128/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1094 - accuracy: 0.9689
Epoch 129/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1083 - accuracy: 0.9699
Epoch 130/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1085 - accuracy: 0.9689
Epoch 131/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1083 - accuracy: 0.9693
Epoch 132/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1082 - accuracy: 0.9699
Epoch 133/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1081 - accuracy: 0.9692
Epoch 134/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1079 - accuracy: 0.9693
Epoch 135/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1079 - accuracy: 0.9697
Epoch 136/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1083 - accuracy: 0.9691
Epoch 137/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1078 - accuracy: 0.9690
Epoch 138/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1079 - accuracy: 0.9698
Epoch 139/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1079 - accuracy: 0.9689
Epoch 140/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1089 - accuracy: 0.9689
Epoch 141/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1076 - accuracy: 0.9693
Epoch 142/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1082 - accuracy: 0.9696
Epoch 143/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1077 - accuracy: 0.9689
Epoch 144/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1074 - accuracy: 0.9698
Epoch 145/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1075 - accuracy: 0.9698
Epoch 146/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1074 - accuracy: 0.9697
Epoch 147/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1072 - accuracy: 0.9696
Epoch 148/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1078 - accuracy: 0.9688
Epoch 149/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1079 - accuracy: 0.9690
Epoch 150/150
329/329 [==============================] - 0s 1ms/step - loss: 0.1073 - accuracy: 0.9692

In [25]:
y_pred = model.predict(X_test)
y_pred

array([[0.0124377 ],
       [0.05068347],
       [0.00644466],
       ...,
       [0.00411254],
       [0.00535563],
       [0.9559036 ]], dtype=float32)

In [27]:
y_pred = y_pred.round()
y_pred

array([[0.],
       [0.],
       [0.],
       ...,
       [0.],
       [0.],
       [1.]], dtype=float32)

In [28]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred, y_test)

0.9604444444444444

In [29]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[3371,   45],
       [ 133,  951]])

### Churn Model

In [31]:
df = pd.read_csv("/content/Churn_Modelling.csv")
df

      RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
0             1    15634602   Hargrave  ...               1       101348.88      1
1             2    15647311       Hill  ...               1       112542.58      0
2             3    15619304       Onio  ...               0       113931.57      1
3             4    15701354       Boni  ...               0        93826.63      0
4             5    15737888   Mitchell  ...               1        79084.10      0
...         ...         ...        ...  ...             ...             ...    ...
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[10000 rows x 14 columns]